.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  .example-flex-container {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 60px;
  }