@if(adicionandoTarefa)
{
    <app-nova-tarefa (cancelar)="onCancelarAdicionarTarefa()" (add)="onAdicionarTarefa($event)"></app-nova-tarefa>
}



<section id="tasks">
    <header>
        <h1>Tarefas do(a) {{name}}</h1>
        <menu>
            <app-botao tipo="add" (acao)="onComecarAdicionarTarefa()" ></app-botao>
        </menu>
    </header>

    <ul>
        @for (tarefa of SelecionarTarefasUsuario ; track tarefa.id) 
        {
            <li>
                <app-tarefa [task]="tarefa" (completo)="onCompletarTarefa($event)"></app-tarefa>
            </li>
        }
    </ul>

</section>


