<app-header></app-header>

<main>
    <ul id="user">
      @for (usuario of usuarios; track usuario.id) {
        <li >
          <app-user
            [user]="usuario" 
            (selecionado)="onSelectUser(usuario.id)"
          ></app-user>
        </li>
      }
      
    </ul>
    @if (pegarUsuario) {
      <app-tarefas [IdUsuario]="pegarUsuario.id" [name]="pegarUsuario.name"></app-tarefas>
    }
    @else {
      <p id="fallback">
        Selecione um Usuario para ver a tarefa
      </p>
    }
    
  </main>
